* {
    font-family: "Lucida Console", "Courier New", monospace;
}
html {
    background-image: url("../images/site/checkerboard.jpg");
    background-size: 25em;
}
body {
    width: 75%;
    margin: auto;
    margin-top: 1em;
    border-style: solid;
    border-width: 5px;
    border-color: #4c96d7;
    background-color: #ffffff;
}
header > a {
    float: right;
    border: 0;
    font-size: 1.3em;
    padding: 0.9em;
    padding-right: 2.2em;
    background-color: #ffffff;
    cursor: pointer;
}
nav {
    color: #ffffff;
    background-color: #3a3a3a;
    font-size: 1.5em;
    padding: 0.8em;
}
nav > a {
    padding: 1.1em 0.1em 1.1em 0.1em;
    transition-duration: 0.1s;
    cursor: pointer;
}
nav > a:hover {
    background-color: #4c96d7;
}
h1 {
    margin-left: 0.1em;
}
#details {
    margin-left: 4em;
    color: #4c96d7;
}
#details > p > b {
    font-size:larger;
}
#own_today {
    height: 3em;
    cursor: pointer;
}
body > img {
    max-width: 100%;
}
.flex-container {
  display: flex;
}
.upgrades > p {
    margin-left: 2em;
    font-size:larger;
}
figure {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    font-size: smaller;
}
figure > div {
    background-color: #4c96d7;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.4em;
    width: 12em;
    height: 5em;
}
figure > div > img {
    height:inherit;
}
.reviews > p {
    margin-left: 1em;
    font-size:larger;
}
footer {
    text-align: center;
    font-size: 0.9em;
}
footer > p {
    margin-top: 0;
    margin-bottom: 0;
}